@page
@model FastestWayOnly.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}
<h1>About</h1>
<div class="separator"></div>
<h2>What is Fastest Way Only?</h2>
	Fastest Way Only, founded in February 28th 2014 by <a href="https://www.youtube.com/channel/UCr4FwFgYNya7bzFNzAwKsZA">Nino</a> and friends, is there for your cut/trick needs. ғฟ๏ is known for executing numerous shortcuts on official campaign tracks and communty made series.

<div class="separator"></div>
<h2>How to join?</h2>
<h3>Do a Nadeo cut!</h3>
	Do a new shortcut to get a new world record on any campaign track! When you are ready, tell one of our team members that you want to join. We will vote whether we want you in our team. If you pass the vote, <span style="font-weight:bold">welcome to ғฟ๏!</span>
<br />
	<br />
	Additional info:
<br />
<iframe width="420" height="345" src="https://www.youtube.com/embed/y7EhhSNpkl0">
</iframe>

<br>